* {
  text-align: center;
}

.App {
  text-align: center;
  background-color: #020d2e;
  background-image: url("https://www.transparenttextures.com/patterns/rubber-grip.png");
}

.logo {
  padding: 15px;
  background: rgb(32, 32, 32);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.credit,
.subtitle {
  color: white;
}

.card {
  background-color: #11121a;
  background-image: url("https://www.transparenttextures.com/patterns/light-aluminum.png");
}

footer.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: rgb(32, 32, 32);
  margin-top: 3rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1d809f;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}
